In [2]:
import sqlite3#Install & load sqlite3
conn = sqlite3.connect(r"C:\Users\SilverOak\Desktop\chinook.db")# Connecting to sqlite
# connection object

In [3]:

cursor_obj = conn.cursor()# cursor object

In [4]:
## Fetchall rows from the table
statement = '''SELECT * FROM indian_startup_funding'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
('2019-12-20', 'Lenskart.com', 'E-Commerce', 'Faridabad', '231000000.00')
('2019-12-17', 'Healthians', 'B2B-focused foodtech startup', 'Bengaluru', '12000000.00')
('2019-12-16', 'Licious', 'E-Commerce', 'Bengaluru', '30000000.00')
('2019-12-16', 'InCred', 'Finance', 'Mumbai', '5900000.00')
('2019-12-14', 'Trell', 'Video', 'Bengaluru', '2000000.00')
('2019-12-13', 'Rivigo', 'Technology', 'Gurgaon', '20000000.00')
('2019-12-12', 'Ecozen', 'Technology', 'Pune', '6000000.00')
('2019-12-11', 'Rein Games', 'Gaming', 'Noida', '50000000.00')
('2019-12-06', 'CarDekho', 'E-Commerce', 'Gurgaon', '70000000.00')
('2019-12-03', 'Dhruva Space', 'Aerospace', 'Bengaluru', '50000000.00')
('2019-11-25', 'Paytm', 'FinTech', 'Noida', '1000000000.00')
('2019-11-20', 'Aye Finance', 'FinTech', 'Gurgaon', '17411265.00')
('2019-11-20', 'Clumio', 'SaaS', 'San Jose,', '135000000.00')
('2019-11-19', 'Digital Mall Asia', 'E-Commerce', 'Delhi', '220000000.00')
('2019-11-19', 'Furtados School of Music', 'Education', 'Tulangan', '200000000.00')
('2019-11-18', 'Healthians', 'Health and Wellness', 'Gurgaon', '12000000.00')
('2019-11-18', 'Medikabazaar', 'Healthcare', 'Mumbai', '15800000.00')
('2019-11-17', 'Burger Singh', 'Food and Beverage', 'Gurgaon', '0')
('2019-11-15', 'Ninjacart', 'B2B Marketing', 'Bengaluru', '26000000.00')
('2019-11-15', 'Vogo Automotive', 'Last Mile Transportation', 'Kormangala', '283000000.00')
('2019-11-14', 'Misters', 'Health and wellness', 'Gurgaon', '486000.00')
('2019-11-13', 'Freshworks', 'Software', 'San Francisco', '150000000.00')
('2019-11-13', 'Sunstone Eduversity Pvt. Ltd', 'Education', 'Gurgaon', '1500000.00')
('2019-11-12', 'SuperGaming', 'Video Games', 'Pune', '1300000.00')
('2019-11-11', 'eBikeGo', 'Last Mile Transportation', 'Amritsar', '300000.00')
('2019-10-21', 'The Man Company', 'Consumer Goods', 'Gurgaon', '0')
('2019-10-04', 'Dunzo', 'Customer Service', 'Bengaluru', '45000000.00')
('2019-10-02', 'Udaan', 'B2B', 'Bengaluru', '585000000.00')
('2019-09-05', 'FPL Technologies', 'FinTech', 'Pune', '4500000.00')
('2019-09-04', 'Cashflo', 'FinTech', 'Mumbai', '3300000.00')
('2019-09-04', 'Digital F5', 'Advertising, Marketing', 'Mumbai', '6000000.00')
('2019-09-04', '3rdFlix', 'SaaS', 'Hyderabad', '5000000.00')
('2019-09-04', '75F', 'IoT', 'Burnsville', '18000000.00')
('2019-09-04', 'Myelin Foundry', 'Information Technology', 'Bengaluru', '1000000.00')
('2019-09-04', 'Atomberg Technology', 'Consumer Technology', 'Mumbai', '10000000.00')
('2019-09-04', 'GOQii', 'Health and Wellness', 'Menlo Park', '450000000.00')
('2019-09-03', 'Vyapar App', 'Accounting', 'Bengaluru', '5000000.00')
('2019-08-27', 'Rapido Bike Taxi', 'Transportation', 'Bengaluru', '3900000000.00')
('2019-08-23', 'Zendrive', 'Automotive', 'San Francisco', '37000000.00')
('2019-08-23', 'Lo! Foods', 'Consumer Goods', 'Bengaluru', '500000.00')
('2019-08-23', 'Tala', 'FinTech', 'Santa Monica', '110000000.00')
('2019-08-23', 'AdmitKard', 'EdTech', 'Noida', '1000000.00')
('2019-08-22', 'INDwealth', 'FinTech', 'Gurgaon', '15000000.00')
('2019-08-21', 'HungerBox', 'Food and Beverage', 'Bengaluru', '6590000.00')
('2019-08-19', 'Mishry Reviews', 'Services', 'Gurgaon', '0')
('2019-08-19', 'Grofers', 'E-Commerce', 'Gurgaon', '70000000.00')
('2019-08-13', 'Cars24', 'E-Commerce', 'Gurugram', '11000000.00')
('2019-08-13', 'Uniphore', 'Customer Service Platform', 'Palo Alto', '51000000.00')
('2019-08-12', 'Meesho', 'E-Commerce', 'Bengaluru', '125000000.00')
('2019-08-01', 'CarDekho', 'E-Commerce', 'Gurgaon', '20000000.00')
('2019-08-01', 'Progcap', 'Finance', 'New Delhi', '5000000.00')
('2019-08-01', 'MyPetrolPump', 'Retail', 'Bengaluru', '1600000.00')
('2019-08-01', 'Alteria Capital', 'Finance', 'Mumbai', '140000000.00')
('2019-08-01', 'Pine Labs', 'Information Technology', 'Noida', '38080000.00')
('2019-07-11', 'Moglix', 'E-Commerce', 'Singapore', '60000000.00')
('2019-07-10', '"BYJU\\\\\'S"', 'EdTech', 'Bengaluru', '150000000.00')
('2019-07-10', 'Ezyhaul', 'Tech', 'Singapore', '16000000.00')
('2019-07-10', 'Indus OS', 'Tech', 'Andheri', '5750000.00')
('2019-07-10', 'HealthAssure', 'Health Care', 'Mumbai', '2500000.00')
('2019-07-09', 'House of Msasaba', 'Luxury Label', 'Mumbai', '1000000.00')
('2019-07-08', 'Board Infinity', 'EdTech', 'Chembur', '319605.00')
('2019-07-04', 'Daalchini Technologies', 'Food and Beverage', 'New Delhi', '500000.00')
('2019-07-03', 'Ola Cabs', 'Transport', 'Kormangala', '1000000.00')
('2019-07-02', 'RenewBuy', 'Finance', 'Gurgaon', '19000000.00')
('2019-07-02', 'Atlan', 'Information Technology', 'Singapore', '2500000.00')
('2019-07-01', 'WizCounsel', 'Compliance', 'New Delhi', '145000.00')
('2019-07-01', 'Uniphore', 'Artificial Intelligence', 'Taramani', '38080000.00')
('2019-06-10', 'Bolo App', 'Digital Media', 'Bengaluru', '430200.00')
('2019-06-10', 'OkCredit', 'FinTech', 'Haryana', '15500000.00')
('2019-06-08', 'Vogo Automotive Pvt. Ltd.', 'Transportation', 'Karnataka', '3584000.00')
('2019-06-06', 'Sistema.bio', 'Agriculture', 'Nairobi', '2739034.68')
('2019-06-06', 'Chakr Innovation', 'Energy', 'New Delhi', '26000000.00')
('2019-06-06', 'Pratilipi', 'Digital Media', 'Bengaluru', '15109500.00')
('2020-06-06', 'Biz2Credit', 'FinTech', 'New York', '52000000.00')
('2019-06-05', 'NoBroker', 'E-Commerce', 'Bengaluru', '51000000.00')
('2019-06-04', 'Bira91', 'Food and Beverage', 'New Delhi', '10000000.00')
('2019-06-04', 'BharatPe', 'Finance', 'New Delhi', '75000000.00')
('2019-06-04', 'Recykal', 'Waste Management Service', 'Hyderabad', '26000000.00')
('2019-06-04', 'Leegality', 'Services', 'Mumbai/Bengaluru', '3400000.00')
('2019-06-03', 'FabHotels', 'E-Commerce', 'Gurgaon', '4889975.54')
('2019-06-03', 'Avail Finance', 'Finance', 'Bengaluru', '9000000.00')
('2019-06-03', 'Agara Labs', 'Deep-Tech', 'Bengaluru', '2500000.00')
('2019-05-31', 'Bira91', 'Food and Beverage', 'New Delhi', '5600000.00')
('2019-05-30', 'GlowRoad', 'E-commerce', 'Bengaluru', '11500000.00')
('2019-05-28', 'Ather Energy', 'Automobile', 'Bengaluru', '51000000.00')
('2019-05-28', 'FreshVnF', 'Agtech', 'Mumbai', '140000000.00')
('2019-05-06', 'Ola Electric', 'Transport', 'Bengaluru', '0')
('2019-05-06', 'Saahas Zero Waste', 'Waste Management Service', 'Bengaluru', '868600.00')
('2019-05-05', 'StyleDotMe', 'E-commerce', 'Delhi', '0')
('2019-05-02', 'Zenoti', 'Saas', 'Hyderabad', '50000000.00')
('2019-05-01', 'BlackBuck', 'Transport', 'Bengaluru', '150000000.00')
('2019-04-19', 'My Healthcare', 'E-commerce', 'Bengaluru and Gurugram', '3000000.00')
('2019-04-19', 'KrazyBee', 'E-commerce', 'Bengaluru', '14342000.00')
('2019-04-17', 'Shuttl', 'Transportation', 'Gurugram', '5000000.00')
('2019-04-17', 'Increff', 'Technology', 'Bengaluru', '3000000.00')
('2019-04-16', 'Kuvera', 'Finance', 'Bengaluru', '45000000.00')
('2019-04-13', 'Tripoto', 'Social Media', 'New Delhi', '3591375.00')
('2019-04-12', 'Medlife', 'E-commerce', 'Bengaluru', '17000000.00')
('2019-04-12', 'Azah', 'Health and Wellness', 'Gurugram', '200000.00')
('2019-04-11', 'Setu', 'Fintech', 'Bengaluru', '3500000.00')
('2019-04-11', 'CleverTap', 'SaaS', 'Mumbai', '26000000.00')
('2019-04-10', 'Kabadiwala', 'E-commerce', 'Bhopal', '430665.00')
('2019-04-10', 'Toppr', 'Edtech', 'Mumbai', '6320820.00')
('2019-04-10', 'Craftsvilla', 'E-commerce', 'Mumbai', '2443495.00')
('2019-04-10', 'Unacademy', 'Edtech', 'Bengaluru', '307000.00')
('2019-02-13', 'NanoClean Global', 'Nanotechnology', 'New Delhi', '600000.00')
('2019-02-08', 'Zilingo', 'Ecommerce', 'India/Singapore', '226000000.00')
('2019-02-01', 'FleetX', 'AI', 'Gurgaon', '0')
('2019-01-04', 'Vyome Therapeutics Inc.', 'Health and Wellness', 'India/US', '22000000.00')
('2019-01-04', 'Samunnati Financial Intermediation & Services Pvt. Ltd', 'Finance', 'Chennai', '5000000.00')
('2019-01-03', 'CarDekho', 'Automobile', 'Jaipur', '110000000.00')

In [5]:
import pandas as pd

In [6]:
df = pd.read_sql_query("select * from indian_startup_funding;", conn)#retrieve the query results into a pandas dataframe

In [7]:
df#print the dataframe

,Date,StartupName,IndustryVertical,CityLocation,AmountinUSD
0,2019-12-20,Lenskart.com,E-Commerce,Faridabad,231000000.00
1,2019-12-17,Healthians,B2B-focused foodtech startup,Bengaluru,12000000.00
2,2019-12-16,Licious,E-Commerce,Bengaluru,30000000.00
3,2019-12-16,InCred,Finance,Mumbai,5900000.00
4,2019-12-14,Trell,Video,Bengaluru,2000000.00
...,...,...,...,...,...
106,2019-02-08,Zilingo,Ecommerce,India/Singapore,226000000.00
107,2019-02-01,FleetX,AI,Gurgaon,0
108,2019-01-04,Vyome Therapeutics Inc.,Health and Wellness,India/US,22000000.00
109,2019-01-04,Samunnati Financial Intermediation & Services ...,Finance,Chennai,5000000.00
110,2019-01-03,CarDekho,Automobile,Jaipur,110000000.00

In [8]:
# Close the connection
conn.close()